html {
    /*background-image: -moz-element(#sproutbg), -webkit-image-set(#sproutbg);*/
    font-family: "AtkinsonHyperlegible", Menlo, Courier, monospace;
    -webkit-font-smoothing: antialiased;
}

 /* @font-face {
    font-family: "AtkinsonHyperlegible";
    src: url('../css/fonts/AtkinsonHyperlegible-Regular.woff2') format('woff');
	src: url('../css/fonts/AtkinsonHyperlegible-Italic.woff2') format('woff');
	src: url('../css/fonts/AtkinsonHyperlegible-Bold.woff2') format('woff');
	src: url('../css/fonts/AtkinsonHyperlegible-BoldItalic.woff2') format('woff');
    src: local(AtkinsonHyperlegible)
} */

header {
    color: rgb(16, 19, 16);
    background: rgb(175, 189, 175);
    line-height: 1.5;
    padding: 20px;
    border: 4px;
    border-radius: 8px;
    border-color: #afbdaf;
    text-align: center;
    font-weight: bold;
    position: sticky;
    top: 2%;
}

.title a {
    color: rgb(16, 19, 16);
    display: inline-block;
    font-size: 16px;
    padding: 0px 20px 0px 0px;
    text-decoration: none;
}

.title a:hover {
    /* color: rgb(205, 230, 205); */
    color: #fff;
}

.blog-title a {
    color: rgb(175, 189, 175);
}
.blog-title a:hover {
    /* color: rgb(205, 230, 205); */
    color: #fff;
}

footer {
    color: rgb(16, 19, 16);
    background: #afbdaf;
    line-height: 1.5;
    padding: 20px;
    border: 4px;
    border-radius: 8px;
    border-color: #afbdaf;
    text-align: center;
    font-weight: bold;
    position: sticky;
    bottom: 2%;

}

div.base {
	text-align: center;
	font-size: 13px;
	margin: 2rem;
    position: relative;
    bottom: 0%;
}

.navbar {
    text-decoration: none;
    text-align: center;
}

.navbar a {
    color: rgb(16, 19, 16);
    display: inline-block;
    font-size: 16px;
    padding: 0px 20px 0px 0px;
    text-decoration: none;
}

.navbar a:hover {
    /* color: rgb(205, 230, 205); */
    color: #fff;
}

body {
    font-family: "AtkinsonHyperlegible", Menlo, Courier, monospace;
    background: rgb(16, 19, 16);
    color: rgb(175, 189, 175);
    background-color: #101310;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23afbdaf' fill-opacity='0.1'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    font-size: 1rem;
    line-height: 1.5;
    margin: 1rem;
    max-width: 900px;
    padding: 2rem 2rem 10em 2rem;
    font-kerning: auto;
    font-weight: bold;
}

h1 {
    color: rgb(175, 189, 175);
    font-weight: bold;
    line-height: 1.5;
    font-size: 3rem;
    text-indent: 3rem;
    font-kerning: auto;
    text-align: start;
    margin: 3rem 1rem 1rem 1rem;
}

h2 {
    color: rgb(175, 189, 175);
    font-weight: bold;
    font-size: 2rem;
    line-height: 1.5;
    font-kerning: auto;
    text-align: inherit;
}

h3, h4, h5 {
    font-family: "AtkinsonHyperlegible", Menlo, Courier, monospace;
    color: rgb(175, 189, 175);
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.5;
    font-kerning: auto;
    text-align: inherit;
}

a {
    color: rgb(175, 189, 175);
    font-kerning: auto;
    text-decoration: none;
}

a:hover {
    color: #fff;
}

.blog-title:hover {
    /* color: rgb(205, 230, 205); */
    color: #fff;
}

b, strong {
    font-weight: 600;
    font-kerning: auto;
}

samp {
    display: none;
    font-kerning: auto;
}

p {
    text-indent: 3rem;
    text-align: justify;
    margin: 0 1rem;
    font-kerning: auto;
}

p.pub-date {
    color: #696969;
}

ul {
    display: block;
    list-style-type: circle;
    text-align: justify;
    margin: 0 1rem;
    font-kerning: auto;
}

li.cleanlist {
    text-align: justify;
    list-style-type: circle;
    margin: 0 1rem;
    font-kerning: auto;
    list-style: none;
}

div.nav-button a {
    margin-top: 1rem;
    padding: 12px 12px;
    border: 4px;
    border-color: rgb(175, 189, 175);
    border-radius: 8px;
    text-align: center;
    display: inline-flex;
    background-color: rgb(175, 189, 175);
    color: #101310;
}

img {
    /* animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1; */
    background: transparent;
    /* border: 10px solid rgba(0, 0, 0, 0.12); */
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 95%;
}

.gallery {
    /* GRID LAYOUT - 3 IMAGES PER ROW */
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 20px;
   
    /* OPTIONAL WIDTH RESTRICT */
    max-width: 90%;
    margin: 0 auto;
    overflow: hidden;
  }

img.circle-a {
	max-height: 1rem;
	border: none;
	display: block;
	margin: 1rem auto 0.25rem;
}

html,body{
    margin: auto;
    padding: 2rem 2rem 10rem 2rem;
    height: 100%;
}
/*
.hide {
  height: 10px;
  overflow: hidden;
}

#sproutbg {
    font-weight: 300;
    text-align: center;
    opacity: 25%;
    justify-content: space-evenly;
}

#sproutbg {
  font-size: 90px;
  background-image: -moz-element(#sprout);
}

body {
  min-height: 100vh;
  background-image: -moz-element(#sproutbg);
  background-position: center;
}
*/
/*@keyframes colorize {
  0% {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
  }
  100% {
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%);
  }
}*/

.responsive {
    width: 100%;
}

h1 {
    font-size: 2.5rem;
    transition: font-size .25s linear;
    -o-transition: font-size .25s linear;
    -moz-transition: font-size .25s linear;
    -webkit-transition: font-size .25s linear;
}

h2 {
    font-size: 1.8rem;
    transition: font-size .25s linear;
    -o-transition: font-size .25s linear;
    -moz-transition: font-size .25s linear;
    -webkit-transition: font-size .25s linear; 
  /* Set the property you want to transition. In this case it is font-size */
}



p {
    font-size: 1.1rem;
    transition: all .25s linear;
    -o-transition: all .25s linear;
    -moz-transition: all .25s linear;
    -webkit-transition: all .25s linear; 
  /* Using 'all' will apply the transition to all properties assicated with the element. so this will transition the color and font-size at the same rate*/
}

@media screen and (max-width: 1920px) {
    h1 {
        font-size: 2.5rem;
    }
    
    h2 {
        font-size: 1.5rem;
        text-indent: 0px;
        display: flex;
        text-align: start;
        font-kerning: auto;
        font-style: oblique;
        margin: 1.2rem;
        font-weight: 900;
    }
    
    p {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 1280px) {
    h1 {
        font-size: 2rem;
        display: flex;
    }
    
    h2 {
        font-size: 1.5rem;
        display: flex;
        text-align: start;
        font-kerning: auto;
        font-style: oblique;
        margin: 1.2rem;
        text-indent: 0px;
        font-weight: 900;
    }
    
    p {
        font-size: 1.1rem;
  }
  
}

/*@media screen and (max-width: 768px) {
    h1 {
        font-size: 1.5rem;
    }
    
    h2 {
        font-size: 1.25rem;
        text-indent: 20px;
    }
    
    p {
        font-size: 1rem;
    }
}
*/

/*@media screen and (max-width: 375px) {
    h1 {
        font-size: 1.2rem;
        padding-top: 10px;
    }
    
    h2 {
        font-size: 1.2rem;
    }
    
    p {
        font-size: 1rem;
  }

    header {
        font-size: 0.9rem    
    }
    
    .navbar a {
        font-size: 0.9rem
    }
}
  */

/* 1080×2340 pixels at 476ppi */
@media only screen 
    and (width: 375px) 
    and (height: 812px) 
    and (-webkit-device-pixel-ratio: 3) {
        h1 {
        font-size: 1.5rem;
        padding-top: 10px;
    }
    
    h2 {
        font-size: 1.2rem;
        text-align: start;
        font-kerning: normal;
        font-style: oblique;
        margin: 1.2rem;
        text-indent: 0px;
        font-weight: 900;
    }
    
    p {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.75rem;
        font-kerning: auto;
  }

    header {
        font-size: 0.9rem    
    }
    
    .navbar a {
        font-size: 0.9rem
    }
}

/* 1170×2532 pixels at 460ppi */
@media only screen 
    and (width: 390px) 
    and (height: 844px) 
    and (-webkit-device-pixel-ratio: 3) {
        h1 {
        font-size: 1.2rem;
        padding-top: 10px;
    }
    
    h2 {
        font-size: 1.2rem;
    }
    
    p {
        font-size: 1rem;
  }

    header {
        font-size: 0.9rem;
        text-align: center;
        font-kerning: auto;
        margin: 0px -5px;

    }
    
    .navbar a {
        font-size: 0.9rem
    }
}
